<div>
  <hr>
  <mat-dialog-content>
    <div class="example-container">
      <mat-list>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Id</h4>
          <p class="example-full-width">{{indicador.id}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Data Integracao</h4>
          <p class="example-full-width">{{indicador.dataIntegracao}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Data Última Alteração</h4>
          <p class="example-full-width">{{indicador.dataUltAlteracao}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Fórmula Cálculo</h4>
          <p class="example-full-width">{{indicador.formulaCalculo}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">id Integração</h4>
          <p class="example-full-width">{{indicador.idDrgIntegracao}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Direção Seta</h4>
          <p class="example-full-width">{{indicador.identDirecaoSeta}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Periodicidade</h4>
          <p class="example-full-width">{{indicador.identPeriodicidade}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Referencial</h4>
          <p class="example-full-width">{{indicador.identReferencial}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Informações Adicionais</h4>
          <p class="example-full-width">{{indicador.informacoesAdicionais}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Nome</h4>
          <p class="example-full-width">{{indicador.nome}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Decimais</h4>
          <p class="example-full-width">{{indicador.numDecimais}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Objetivo</h4>
          <p class="example-full-width">{{indicador.objetivo}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Unidade</h4>
          <p class="example-full-width">{{indicador.unidade}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Usuário Última Alteração</h4>
          <p class="example-full-width">{{indicador.usuarioUltAlteracao}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
        <mat-list-item>
          <h4 class="example-full-width">Versão</h4>
          <p class="example-full-width">{{indicador.versao}}</p>
        </mat-list-item>
        <mat-divider color="accent"></mat-divider>
      </mat-list>
    </div>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button matDialogClose>Cancelar</button>
  </mat-dialog-actions>
</div>